@import url('./material-symbols/outlined.css');

/* Light Theme (Default) */
:root {
    /* Background Colors */
    --color-background: rgba(32, 33, 36, 1);
    /* Dark primary background */

    --color-background-light: rgba(32, 33, 36, 0.75);
    /* Slightly transparent dark background */

    /* Text Colors */
    --color-text-primary: rgba(242, 241, 238, 1);
    /* Light text for dark backgrounds */

    --color-text-secondary: rgba(71, 71, 71, 0.75);
    /* Darker gray for secondary text */

    /* Border Colors */
    --color-border: rgba(71, 71, 71, 1);
    /* Using tertiary color for borders */

    /* Utility Colors */
    --color-success: rgba(46, 204, 113, 1);
    /* Success messages */

    --color-warning: rgba(241, 196, 15, 1);
    /* Warning messages */

    --color-error: rgba(231, 76, 60, 1);
    /* Error messages */
}

.light-theme {
    /* Background Colors */
    --color-background: rgba(157, 156, 153, 0.5);
    /* Light primary background */

    --color-background-light: rgba(206, 204, 200, 0.9);
    /* Slightly transparent light background */

    /* Text Colors */
    --color-text-primary: rgba(32, 33, 36, 1);
    /* Dark text for light backgrounds */

    --color-text-secondary: rgba(255, 255, 255, 0.75);
    /* Darker gray for secondary text */

    /* Border Colors */
    --color-border: rgba(32, 33, 36, 0.25);
    /* Light border color with transparency */

    /* Utility Colors */
    --color-success: rgba(46, 204, 113, 1);
    /* Success messages */

    --color-warning: rgba(241, 196, 15, 1);
    /* Warning messages */

    --color-error: rgba(231, 76, 60, 1);
    /* Error messages */
}

/* Global Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

.container {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    margin: 10px;
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: calc(100vh - 20px);
    gap: 0px 0px;
    grid-template-areas:
        "header inner-container";
}

.inner-container-light {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--color-text-secondary);
    color: var(--color-text-primary);
}

.inner-container-dark {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--color-background-light);
    color: var(--color-text-primary);
}

.inner-container-dark-small {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--color-background-light);
    color: var(--color-text-primary);
}

.controls-sub-container {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inner-container {
    grid-area: inner-container;
    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "sidebar image-grid-container text-grid-container"
        "sidebar image-grid-container text-grid-container"
        "sidebar image-grid-container text-grid-container";
    margin: 10px 10px 10px 5px;
    padding: 0;
}

#header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 5px 10px 10px;
}

#header img {
    width: 35px;
}

#header .material-symbols-outlined {
    /* font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 60; */
    font-size: 35px;
    color: var(--color-text-primary);
}

#controls {
    grid-area: controls;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    flex-wrap: wrap;
    overflow: auto;
    margin: 0;
    padding: 5px;
}

#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    margin: 10px 5px 10px 10px;
}

#image-grid-container {
    grid-area: image-grid-container;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 5px 10px 5px;
}

#image-container {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
    display: block;
}

#text-grid-container {
    grid-area: text-grid-container;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    margin: 10px 10px 10px 5px;
}

#text-container {
    height: auto;
    min-height: 6rem;
    font-size: 1.15rem;
    resize: vertical;
    width: auto;
    margin: 0;
}

#images-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 100%;
}

#images-list li {
    font-size: 1.15rem;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

#images-list li:hover {
    color: var(--color-text-primary);
    background-color: var(--color-text-secondary);
}

#images-list li.selected {
    color: var(--color-text-primary);
    background-color: var(--color-text-secondary);
}

.rename-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#add-to-all-btn,
#replace-all-btn,
#clear-all-btn,
#add-to-all-input,
#search-input,
#replace-input,
#rename-base-input,
#rename-all-btn {
    /* width: 200px; */
    padding: 5px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    color: var(--color-text-primary);
    background-color: var(--color-text-secondary);
    border-radius: 5px;
}

#rename-base-input {
    width: calc(100% - 10px);
}

.radio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: var(--color-text-primary);
}

#status-message {
    font-size: 14px;
    color: var(--color-success);
    margin-left: auto;
}

/* Modal styles */
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#modal {
    background: var(--color-error);
    padding: 20px;
    border-radius: 6px;
    min-width: 300px;
    text-align: center;
    color: var(--color-text-primary);
    border: 1px solid var(--color-border);
}

#modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

#modal-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-text-secondary);
    color: var(--color-text-primary);
}

#modal h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: var(--color-text-primary);
}

/* Utility Classes */
.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.error {
    color: var(--color-error);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-border);
    border-radius: 10px;
    border: var(--color-border);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-text-primary);
    border-radius: 10px;
    border: var(--color-border);
}

.box-area {
    position: fixed;
    margin: 20px 0;
    width: 100%;
    /* height: calc(100dvh - 100px); */
    height: calc(100dvh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -9999;
}

.box-area::before {
    content: "";
    position: absolute;
    top: -15%;
    right: -15%;
    width: 100dvh;
    height: 100dvh;
    background-image: radial-gradient(circle, rgba(244, 117, 181, 1), rgba(251, 169, 142, 1), rgba(0, 0, 0, 0));
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.35;
    z-index: 0;
}